<div class="title">
    <div class="contact">
        <img src="https://cdn-icons-png.freepik.com/256/455/455705.png?semt=ais_hybrid">
        <p>0322 22 44 66</p>
    </div>
    <div class="adress">
        <img
            src="https://static.vecteezy.com/system/resources/thumbnails/016/586/172/small_2x/gps-icon-black-free-png.png">
        <p>პოლიტკოვსკაიას #33ა; ვაჟა-ფშაველას გამზ. # 12; კოსტავას 75; ბელიაშვილის ქ. 23; პეტრე იბერის 22</p>
    </div>
</div>
<div class="header">
    <div class="logo">
        <a routerLink="/home">      <img src="../../assets/storage-box.ico"></a>
        <!-- <img src="../../assets/storage-box.ico"> -->
        <p>Toy Shop</p>
    </div>
    <!-- <div class="search-container">
        <input type="text" [(ngModel)]="searchword" >
        <div class="search_icon" ((click))="filter()">
            <img class="search" 
                src="https://cdn-icons-png.freepik.com/256/711/711319.png?semt=ais_hybrid">
        </div>
    </div> -->
    <div class="account">
        <p>პროფილი</p>
        <div class="line"></div>
        <div class="fav">
            <img src="https://cdn-icons-png.flaticon.com/512/2324/2324510.png">
            <p>{{test}}</p>
        </div>
    </div>
</div>
