<div class='final'>
    <div class="footer">
        <div class="logo">
            <img src="../../assets/storage-box.ico">
        </div>
        <div class="contact">
            <p class="title">დაგვიკავშირდით</p>
            <div class="title-div">
                <div>
                    <img src="https://cdn-icons-png.freepik.com/256/455/455705.png?semt=ais_hybrid">
                    <p >(032)2 22 44 66</p>
                </div>
                <div>
                    <img src="https://cdn-icons-png.freepik.com/512/3178/3178158.png">
                    <p>info&#64;toys.ge</p>
                </div>
                <div>
                    <img src="https://cdn0.iconfinder.com/data/icons/cosmo-symbols/40/help_1-512.png">
                    <p>help</p>
                </div>
    
            </div>
        </div>
        <div class="information">
            <p>ინფორმაცია</p>
            <div class="information-items">
                <a href="">ხშირად დასმული კითხვები</a>
                <a href="">მიწოდების სერვისი</a>
                <a href="">გადახდის მეთოდები</a>
                <a href="">სამომხმარებლო შეთანხმება</a>
                <a href="">კონფიდენციალურობის პოლიტიკა</a>
                <a href="">დახმარება</a>
    
            </div>
            
        </div>
        <div class="aboutus">
            <p class="title">ჩვენს შესახებ</p>
            <div>
                <a href="">სათამაშოები</a>
                <a href="">მაღაზიები</a>
            </div>
    
        </div>
      
    
    </div>
    <div class="line">
        <div class="contact-photos">
            <p>დაგვიკავშირდით:</p>
            <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png">
            <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png">
            <!-- <img src="https://static-00.iconduck.com/assets.00/twitter-icon-2048x1691-rjjvhexp.png"> -->
        </div>

    </div>
    

</div>
